html,
body,
.container-fluid,
.col-12,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-lg-6,
.row {
  margin: 0;
  padding: 0;
}

nav {
  width: 80%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

nav .navbar-brand span {
  font-weight: bold;
}

nav .nav-link {
  text-transform: uppercase;
}

nav .nav-link:hover {
  border-bottom: 2px solid #333;
}

#banner {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: url(/images/header.jpg) no-repeat center;
  background-size: initial;
  background-attachment: fixed;
}

#banner .col-12 {
  margin-left: auto;
  margin-right: auto;
}

#banner .col-12 h1,
#banner .col-12 h2 {
  color: white;
  text-align: center;
  padding: 10px 20px;
}

#banner .col-12 h1 {
  font-size: 2rem;
  text-shadow: 3px 3px #333;
}

#banner .col-12 h1 span {
  color: #DC3545;
  text-shadow: 0.5px 0.5px #aaa;
}

#banner .col-12 h2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px #333;
}

#banner .col-12 #banner_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .col-12 #banner_buttons a.btn {
  margin-left: 25px;
  text-align: center;
  vertical-align: middle;
}

main {
  overflow: hidden;
}

main .sectionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  height: 100vh;
}

main .sectionContent h1 {
  color: white;
  height: auto;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border: 0;
}

main .sectionContent hr {
  width: 40%;
  border-bottom: 2px solid white;
}

main .sectionContent .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sectionContent .description p {
  color: #ccc;
  width: 70%;
  text-align: justify;
  margin-bottom: 25px;
}

main .sectionContent .description a {
  margin-bottom: 10%;
}

main .sectionContent .description a:hover {
  background: white;
  border: 1px solid #333;
  color: #333;
  font-weight: bold;
}

main #about {
  background: #DC3545;
}

main #about .sectionContent a {
  margin-top: 25px;
}

main #about #border_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  border-bottom: 100px solid #333;
  margin-left: 0;
  margin-top: 3.9%;
  border-top-right-radius: 1.5em;
  background: #DC3545;
  margin-bottom: 0;
}

main #expectations {
  background: #e27145;
}

main #expectations p {
  color: #eee;
}

main #expectations img {
  min-width: 100%;
}

main #contact {
  background: #333;
}

main #contact #contactForm {
  width: 80%;
  height: auto;
  padding-bottom: 70px;
}

main #contact #contactForm label {
  color: white;
}

main #contact #contactForm button:hover {
  background: #DC3545;
  color: white;
  border: 0;
  font-weight: bold;
}

main #try_lesson .sectionContent {
  background: #d27e96;
  margin: 0 auto;
  height: 100vh;
}

main #try_lesson .sectionContent h1 {
  color: white;
  margin-bottom: 50px;
  display: block;
  margin: 6% auto 20px auto;
  text-align: center;
}

main #try_lesson .sectionContent h3 {
  text-align: center;
  font-size: 1.5rem;
}

main #try_lesson .sectionContent .form-group {
  width: 100%;
  margin: 1%;
}

main #try_lesson .sectionContent .form-group .form-control {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

main #try_lesson .sectionContent .form-group button {
  margin-top: 20px;
  background-color: #6f86d6;
}

main #try_lesson img {
  min-width: 100vw;
  height: 100%;
}

footer .row {
  height: 60px;
  background: #333;
  color: white;
  text-align: center;
}

footer .row .col-6 {
  margin: auto 0;
}

footer .row .col-6 p {
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .nav-item {
    margin-left: 3.5em;
  }
  #banner .col-12 h1 {
    font-size: 3.5rem;
  }
  #banner .col-12 h2 {
    font-size: 2.5rem;
  }
  main #about .sectionContent {
    height: 85vh;
  }
  main #about img {
    border-bottom-left-radius: 1em;
    height: 575px;
    width: auto;
    overflow: hidden;
  }
  main #expectations .row {
    height: 100vh;
  }
  main #expectations .row img {
    height: 100vh;
    width: auto;
  }
  main #contact .row {
    height: 110vh;
    overflow: hidden;
  }
  main #contact .row img {
    height: 110vh;
    min-width: 100%;
  }
  main #try_lesson h3 {
    font-size: 1.75rem;
  }
  main #try_lesson .form-control {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */