@mixin basic {
    margin: 0;
    padding: 0;
}

// ------ Variables -------
$red: #DC3545;

// BASIC
html,
body,
.container-fluid,
.col-12,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-lg-6,
.row {
    @include basic;
}

// --------- NAV ---------
nav {
    width: 80%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;

    .navbar-brand {
        span {
            font-weight: bold;
        }
    }

    .nav-link{
        text-transform: uppercase;

        &:hover{
            //font-weight: bold;
            border-bottom: 2px solid #333;
        }
    }
}

// --------- BANNER ---------

#banner {

    @include basic;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/images/header.jpg) no-repeat center;
    background-size: initial;
    background-attachment: fixed;

    .col-12 {
        margin-left: auto;
        margin-right: auto;

        h1,
        h2 {
            color: white;
            text-align: center;
            padding: 10px 20px;
        }

        h1 {
            font-size: 2rem;
            text-shadow: 3px 3px #333;

            span {
                color: $red;
                text-shadow: 0.5px 0.5px #aaa;
            }
        }

        h2 {
            font-size: 1.5rem;
            text-shadow: 2px 2px #333;
        }

        #banner_buttons {
            display: flex;
            justify-content: center;

            a.btn {
                margin-left: 25px;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}

// --------- MAIN ---------
main {

    overflow: hidden;
    
    .sectionContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        height: 100vh;

        h1 {
            color: white;
            height: auto;
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
            border: 0;
        }

        hr {
            width: 40%;
            border-bottom: 2px solid white;
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                color: #ccc;
                width: 70%;
                text-align: justify;
                margin-bottom: 25px;
            }

            a {
                margin-bottom: 10%;
            }

            a:hover {
                background: white;
                border: 1px solid #333;
                color: #333;
                font-weight: bold;

            }
        }
    }

    // --------- ABOUT ---------
    #about {
        background: $red;
    
        .sectionContent{
            a{
                margin-top: 25px;
            }
        }
        
        #border_bottom {
            display: flex;
            flex-direction: row;
            width: 80%;
            border-bottom: 100px solid #333;
            margin-left: 0;
            margin-top: 3.9%;
            border-top-right-radius: 1.5em;
            background: $red;
            margin-bottom: 0;
        }
    }
       

    
    // --------- EXPECTATIONS ---------
    #expectations{
        background: #e27145;

        p{
            color: #eee;
        }

        img{
            min-width: 100%;
        }
    }

    // --------- CONTACT ---------
    #contact{
        background: #333;

        #contactForm{
            width: 80%;
            height: auto;
            padding-bottom: 70px;
                
            label{
                color: white;
            }

            button:hover{
                background: $red;
                color: white;
                border: 0;
                font-weight: bold;
            }
        }
    }

    // --------- TRY A LESSON ---------
    #try_lesson{
        
        .sectionContent{
            background: #d27e96;
            margin: 0 auto;
            height: 100vh;

            h1{
                color:white;
                margin-bottom: 50px;
                display: block;
                margin: 6% auto 20px auto;
                text-align: center;
            }
            h3{
                text-align: center;
                font-size: 1.5rem;
            }
    
            .form-group{
                width: 100%;
                margin: 1%;
    
                .form-control{
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    text-align: center;
                }

                button{
                    margin-top:20px;
                    background-color: #6f86d6;
                }
            }
        } 

        img{
            min-width: 100vw;
            height: 100%;
        }
        
    }
    
}

//--------- FOOTER ---------
footer{
    .row{
        height: 60px;
        background: #333;
        color: white;
        text-align: center;

        .col-6{
            margin: auto 0;

            p{
                margin: 0;
            }
        }
    }
}

// MEDIA QUERIES
// @import 'media_queries'
// @media only screen and (min-width: 992px) and (max-width: 1175px) {
//     main{

//         #about{
//             img{
//                 border-bottom-left-radius: 1em;
//                 height: 500px;
//                 width: auto;
//                 overflow: hidden;
//             }
//         }

//         #expectations{
//             .sectionContent{
//                 // min-height: 100vh;
//             }
//         }
//     }

// }


@media only screen and (min-width: 992px) {
    .nav-item {
        margin-left: 3.5em;
    }

    #banner {
        .col-12 {

            h1 {
                font-size: 3.5rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }

    }

    main{

        #about{
            .sectionContent{
                height: 85vh;
            }    

            img{
                border-bottom-left-radius: 1em;
                height: 575px;
                width: auto;
                overflow: hidden;
            }
        }

        #expectations{
            .row{
                height: 100vh;
           
                img{
                    height: 100vh;
                    width: auto;
                }
            }

        }

        #contact{
            .row{
                height: 110vh;
                overflow: hidden;

                img{
                    height: 110vh;
                     min-width: 100%;
                }
            }
        }

        #try_lesson{
            h3{
                font-size: 1.75rem;
            }
            .form-control{
                width: 40%;
            }
        }
    }
}